<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Diary</title>
    
    <style>
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
  <div class="mt-5 container">
  
<div class="form-group">
  <form class="border-0 form-control" method="POST" action="{% url 'add' %}">
  {% csrf_token %}
    <center><label for="exampleFormControlTextarea1"><marquee> <h3>Whats on your mind?</marquee> </h3></label></center>
    <pre><textarea class="form-control" name="data" rows="3" placeholder="Write here..."></textarea><pre> 
<button class="btn btn-dark" type="submit">Add Diary</button>
   </form><br /><br /><br /><br /><br />
   <center>
     <div>
       
   </center>
  </div>
  </div>
</body>

</html>